.canvas-container {
  border: 1px solid #000;
  width: 90vw;
  height: 90vh;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &.panning {
    cursor: grab;
  }
  &.panning:active {
    cursor: grabbing;
  }

  canvas {
    display: block;
    image-rendering: pixelated;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }
}
