<div class="signup-container">
  <form class="signup-form">
    <label for="signup-username">Username</label>
    <input
      type="text"
      placeholder="Username"
      id="signup-username"
      name="username"
      [(ngModel)]="username"
      required
    />
    <label for="signup-email">Email</label>
    <input
      type="email"
      placeholder="Email"
      id="signup-email"
      name="email"
      [(ngModel)]="email"
      required
    />

    <label for="signup-password">Password</label>
    <input
      type="password"
      placeholder="Password"
      id="signup-password"
      name="password"
      [(ngModel)]="password"
      required
    />
    <label for="signup-password-verification">Password Verification</label>
    <input
      type="password"
      placeholder="Type your password again"
      id="signup-password-verification"
      name="passwordVerification"
      [(ngModel)]="passwordVerification"
      required
    />
    <button type="button" class="signup-submit-btn" (click)="trySignUp()">Sign Up</button>
  </form>
</div>
