.palettes-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.palette-name-input {
  width: 100%;
}

.color-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.selected-color-input {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  background: transparent;
}

.colors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1.75rem, 1fr));
  gap: 0.4rem;
}
